* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #122537, #4E433B);
}

.hide {
    display: none;
}

#questions-container {
    background: #b49e8f;
    width: 90%;
    max-width: 600px;
    margin-right: 1vw;
    border-radius: 10px;
    padding: 30px;
}

#explanation-contaner {
    background: #b49e8f;
    width: 90%;
    max-width: 600px;
    margin-left: 1vw;
    border-radius: 10px;
    padding: 30px;
}

h2 {
   font-weight: 700;
   font-size:x-large;
   color: #0c1925;
   border-bottom: 1px solid #0c1925; 
   padding-bottom: 10px;
}

p {
    background: #b49e8f;
    color: #0c1925;
    font-weight: 500;
    font-size: large;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    text-align: left;
    cursor: pointer;
}

.btn {
    background: #b49e8f;
    color: #0c1925;
    font-weight: 500;
    font-size: large;
    width: 100%;
    border: 1px solid #7c6c63;
    padding: 10px;
    margin-top: 10px;
    text-align: left;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.4s;
}

.btn:hover:not([disabled]) {
    background: #0c1925;
    color: #b49e8f;
}

.btn:disabled {
    cursor: no-drop;
}

#next-btn {
    background: #0c1925;
    color: #b49e8f;
    float: right;
    font-weight: 500;
    font-size: large;
    width: 15%;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.4s;
}

.correct {
    background: #074300;
    color: #b49e8f;
}

.incorrect {
    background: #4B0000;
    color: #b49e8f;
}